#logo{

}
#mi{
    background-color: #ebeff5;
}
#total-orders {
    background-color: #4cb4c7;

}
#orders-delevierd{
    background-color: #7abecc;

}
#order-pending{
    background-color: #7cd1c0;

}