{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md">
        <div class="card card-body">
            <h3 class="card-title"> Create Product :</h3>
            <hr>
            <form class="form text-center" action="" method="POST">
                {% csrf_token %}
                {% for i  in form %}
                <div class="form-group">
                    <label class="form-label">{{i.label}}</label>
                    {% render_field i class="form-control" %}
                </div>


                {% endfor %}
                <input class="btn btn-info btn-sm" type="submit" name="submit">
            </form>            
        </div>
    </div>
    <div class="col-md-3"></div>

</div>

{% endblock%}