{% extends 'accounts/main.html' %}

{% block contents %}
<div class="row">
    <div class="col-md-4 ">
        <div class="card">
            <div class="card-body">

            <a href="{% url 'user-page' %}" class="btn btn-block btn-warning">Back to Profile</a>
            <hr>
            <h4 class="card-title text-center mt-3"> Account Setting</h4>
            <hr>
            <img class="img-thumbnail rounded-circle" src="{{request.user.customer.profile_pic.url}}" alt="">

            </div>

        </div>

    </div>
    <div class="col-md">
        <form class="form" method="POST" action="" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <br>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-sm btn-info" type="submit" name="submit"> Submit</button>

                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}