{% load static %}
<br>
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<div class="row">
    <div class="col-md">
        <div class="card mb-3 text-center" id="total-orders">
            <div class="card-header">
                <h5 class="card-titile">Total Orders </h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{total_order}}</h3>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card mb-3 text-center" id="orders-delevierd">
            <div class="card-header">
                <h5 class="card-titile">Orders Delivered </h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{order_deliverd}}</h3>
            </div>
        </div>
    </div>
        <div class="col-md">
            <div class="card mb-3 text-center" id="order-pending">
                <div class="card-header">
                    <h5 class="card-titile">Pending Orders </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{order_pending}}</h3>
                </div>
            </div>
        </div>
</div>